.CodeWarsItem
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: white;
  background-color: #222327;
  font: 400 16px/1.5 Roboto;

  &-Task
  {
    &-Number
    {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-Example
  {
    &-Title
    {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
