.CustomButton
{
  padding: .5rem;
  color: white;
  background: #621d94;
  font-weight: bold;
  min-height: 2rem;
  border-radius: .5rem;
  outline: none;
  overflow: hidden;
  border: none;
  cursor: pointer;

  a
  {
    padding: .5rem 1rem;
    text-decoration: none;
    font: bold 20px 'Inter';
  }
}
